Flask==2.3.3
firebase-admin==6.3.0
google-auth==2.22.0
requests==2.31.0
selenium==4.21.0
pillow==10.2.0
pytesseract==0.3.10
webdriver-manager==4.0.1
discord.py==2.3.2
aiohttp==3.9.3
playwright==1.51.0
gunicorn==21.2.0
python-dotenv
pytz
nest_asyncio
googletrans==4.0.0-rc1
